{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <button class='button'onclick="window.location.href='http://127.0.0.1:8000/sign_up/'">Регистрация</button>
    <button class='button'onclick="window.location.href='http://127.0.0.1:8000/store/'">Магазин</button>
    <button class='button'onclick="window.location.href='http://127.0.0.1:8000/database/'">База данных</button>
    <button class='button'onclick="window.location.href='http://127.0.0.1:8000/admin/'">Панель администрации</button>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameShop</title>
    <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
</head>
<body>
    
    <h1>Добро пожаловать в мир лошадей!</h1>
    <h4>Мы рады приветствовать вас в нашем уникальном магазине, где мечты о лошадях становятся реальностью! Наша команда экспертов с любовью отбирает только лучших скакунов для вас. Мы предлагаем широкий ассортимент лошадей различных пород, возрастов и темпераментов, чтобы каждый мог найти своего идеального спутника.</h4>
    <h4>Мы заботимся о каждом животном и гарантируем их здоровье и благополучие. Наша команда готова помочь вам с выбором, ответить на все ваши вопросы и предоставить необходимую информацию о каждом животном.</h4>
    <h4>Приходите к нам, чтобы познакомиться с нашими лошадьми и получить незабываемые впечатления! Мы уверены, что вы найдете своего верного друга здесь.</h4>
    <h3>Ваша мечта о лошади начинается с нами!</h3>
</body>
</html>

